// ---------------------------------------------------------------------------------------------- //
// ----------------------------------         COLORS         ------------------------------------ //
// ---------------------------------------------------------------------------------------------- //

$lightGray: #EEE;

$lightRed: #ff6f60;
$lightBlue: #73e8ff;
$lightPurple: #ac6ffc;


// ---------------------------------------------------------------------------------------------- //
// ----------------------------------          FONT          ------------------------------------ //
// ---------------------------------------------------------------------------------------------- //

