// ---------------------------------------------------------------------------------------------- //
// ----------------------------------         COLORS         ------------------------------------ //
// ---------------------------------------------------------------------------------------------- //

$lightGray: #EEE;

<<<<<<< HEAD
$lightRed: #ff8080;
$lightBlue: #80ccff;
$lightPurple: #bf80ff;
=======
$lightRed: #ff6f60;
$lightBlue: #73e8ff;
$lightPurple: #ac6ffc;
>>>>>>> unconstitutional_viz


// ---------------------------------------------------------------------------------------------- //
// ----------------------------------          FONT          ------------------------------------ //
// ---------------------------------------------------------------------------------------------- //

