// ---------------------------------------------------------------------------------------------- //
// ----------------------------------         COLORS         ------------------------------------ //
// ---------------------------------------------------------------------------------------------- //

$lightGray: #BBB;
$darkGray: #555;
$darkerGray: #353535;

$lightRed: #ff8080;
$lightBlue: #80ccff;
$lightPurple: #bf80ff;


// ---------------------------------------------------------------------------------------------- //
// ----------------------------------          FONT          ------------------------------------ //
// ---------------------------------------------------------------------------------------------- //
